body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}
h1, p {
    text-align: center;
}

.choices-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    height: 300px;
}

.result {
    text-align: center;
}