body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}
h1, p {
    text-align: center;
}

.choices-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    height: 250px;
}
button {
    border : 0px;
    background-color: white;
}
.result {
    text-align: center;
    white-space: pre-line;
}
.score-container {
    display: flex;
    justify-content: center;
    gap: 50px
}
.score {
    white-space: pre-line;
}
.final {
    background-color: pink;
    font-size: 30px;
}